[submodule "third/capy"]
	path = third/capy
	url = https://github.com/cppalliance/capy.git
[submodule "third/corosio"]
	path = third/corosio
	url = https://github.com/cppalliance/corosio.git
[submodule "third/http"]
	path = third/http
	url = https://github.com/cppalliance/http.git
[submodule "third/wslay"]
	path = third/wslay
	url = https://github.com/tatsuhiro-t/wslay.git
[submodule "third/simdjson"]
	path = third/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "third/spdlog"]
	path = third/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third/ftxui"]
	path = third/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
